<% if (post.categories && post.categories.length){ %>
<div flex items-center font-bold gap-2>
  <% post.categories.forEach(item => { %>
  <a href="/categories/<%= item.name %>/" text-gray>
    <%= item.name %>
  </a>
  <% }) %>
</div>
<% } %>